@font-face {
  font-family: "YClover-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "YClover-bold", sans-serif;
  background-color: ivory;
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo__title {
  margin: 5vh 0;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    307deg,
    rgb(240, 255, 203),
    rgba(165, 255, 113, 0.867),
    #2bf,
    rgb(85, 153, 255)
  );
  font-size: 3rem;
}

.todo__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.todo__input {
  width: 20vw;
  height: 2.5rem;
  background-color: #fff;
  border: 3px solid rgba(165, 255, 113, 0.867);
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}

.todo__add-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  background-image: url(./images/plus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid rgba(165, 255, 113, 0.867);
  border-radius: 50%;
  cursor: pointer;
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todo-list__category {
  width: 30rem;
}

.todo-list__title {
  text-align: center;
}

.todo-list__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none;
}

.todo-item__text {
  width: calc(100% - 3.5rem);
}

.todo-item__delete-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  background-image: url(./images/minus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid rgba(165, 255, 113, 0.867);
  border-radius: 50%;
  cursor: pointer;
}

.todo-item--completed {
}
