@font-face {
  font-family: "YClover-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "YClover-bold", sans-serif;
}
.todo {
  /* Your styles for todo section */
}

.todo__title {
  margin: 5vh 0;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    307deg,
    rgb(240, 255, 203),
    rgba(165, 255, 113, 0.867),
    #2bf,
    rgb(85, 153, 255)
  );
  font-size: 3rem;
  text-align: center;
}

.todo__input-wrapper {
}

.todo__input {
}

.todo__add-button {
}

.todo-list {
}

.todo-list__category {
}

.todo-list__title {
}

.todo-list__items {
}

.todo-item {
}

.todo-item__text {
}

.todo-item__delete-button {
}

.todo-item--completed {
}

.todo-item__delete-button img {
}
