.cart {
  width: 70vw;
  max-height: 40rem;
  margin: 10rem auto;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  border: 3px solid #964800;
}
.cart thead {
  height: 3rem;
  background-color: #ff9e99;
}
thead th:nth-child(1) {
  width: 5rem;
}
.cart td {
  height: 7rem;
  border-bottom: 2px solid #964800;
}
.cart img {
  width: 5rem;
}
.cart .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  margin: 0 auto;
  background-color: #ff9e99;
  border-radius: 10px;
  cursor: pointer;
}
