@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "UhBeeSe_hyun", sans-serif;
}
html {
  scroll-padding-top: 6rem; /* 링크 이동할 때 카테고리 타이틀 위치 설정 */
  scroll-behavior: smooth;
}
body {
  margin-top: 5rem;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 0 3rem;
  backdrop-filter: blur(50px);
  z-index: 1;
  font-weight: 700;
  font-style: italic;
  color: #ff9e99;
}
header img {
  cursor: pointer;
}
header img:first-child {
  width: 5rem;
}
header img:last-child {
  width: 2rem;
}
/* nav */
.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 8rem;
  left: 3rem;
  width: 10rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.navContainer p {
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 20px 20px 0px 0px;
  background-color: #ff9e99;
  text-align: center;
  color: #fff;
}
.navContainer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.navContainer li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
}
.navContainer li:hover {
  background-color: #ff9e99;
  color: #fff;
}
.navContainer li:last-child {
  border-radius: 0 0 20px 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: calc(100vw - 13rem); /* 전체 뷰포트 너비에서 nav 너비만큼 제외 */
  margin: 2rem auto;
  padding-left: 13rem;
  box-sizing: border-box;
  overflow: hidden;
}
/* 광고 */
.banner {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(9.5rem * 7);
  height: 8rem;
  overflow: hidden;
}
ul.boxes {
  position: absolute;
  display: flex;
  width: max-content;
  height: max-content;
  animation: adScroll 20s linear infinite;
}
ul.boxes li {
  list-style: none;
  width: 9.5rem;
  height: 9rem;
  border: 1px solid #ddd;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
ul.boxes li.ad1 {
  background-image: url("./images/bag.jpg");
}
ul.boxes li.ad2 {
  background-image: url("./images/mic.jpg");
}
ul.boxes li.ad3 {
  background-image: url("./images/sticker.jpg");
}
ul.boxes li.ad4 {
  background-image: url("./images/mouse.jpg");
}
ul.boxes li.ad5 {
  background-image: url("./images/passport.jpg");
}
ul.boxes li.ad6 {
  background-image: url("./images/usb.jpg");
}
ul.boxes li.ad7 {
  background-image: url("./images/doll.jpg");
}
@keyframes adScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-9.5rem * 7));
  }
}
/* 상품 */
.items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}
.item-image {
  border-radius: 10px;
  width: 10rem;
}
.item:has(> .item-image:hover) {
  animation: heartbeat 1.5s ease-in-out infinite;
}

.like {
  font-size: 1.5rem;
  color: #ff9e99;
}

.like::before {
  content: "♡";
  visibility: visible;
}

.like:hover::before {
  content: "♥";
}

@keyframes heartbeat {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.95, 0.95, 1);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #ff9e99;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

/* 반응형 구현 */

@media (max-width: 1200px) {
  .item {
    width: calc(25% - 1rem);
  }
}

@media (max-width: 1120px) {
  .items {
    justify-content: center;
  }
  .item {
    min-width: 15rem;
  }
}
@media (max-width: 976px) {
  .items {
    justify-content: center;
  }
  .item {
    min-width: 18rem;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  main {
    width: 100vw;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .items {
    justify-content: center;
  }
  .item {
    min-width: 17rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media (max-width: 520px) {
  header {
    justify-content: center;
    img {
      display: none;
    }
  }
  footer {
    font-size: 0.7rem;
  }
}
